# Dependencies
node_modules/

# Next.js (frontend)
.next/
out/
build/

# Hardhat (contracts)
cache/
artifacts/
typechain/
typechain-types/
ignition/deployments/
coverage/
coverage.json

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# IDE / OS Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Python Testing Tools
.pytest_cache/
.ruff_cache/
.mypy_cache/


# Python Packages
*.egg-info/
*.egg


# Go Build Artifacts
/go-client/go-client.exe
/go-client/go-client


# PHP Components
/php-client/vendor/
.phpunit.result.cache
.php-cs-fixer.cache


# Java Components
/java-client/target/
/java-client/.idea/
*.class


# Node Client
/node-client/dist/

